//后台样式
@import 'base.scss';
@import 'table.scss';

.notice{
  position: fixed;
  top:0;
  left:50%;
  padding:0 40px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index:9999;
}

.img-thumbnail {
  max-width: 200px;
  height: 100px;
}

.tree-container {
  margin-top: 15px;
  font-size: 10px;
}

.form-small-text {
  font-size: 10px;
  textarea {
    font-size: 10px;
    color:gray;
    &#editor{
      width: 100%;
      min-height:300px;
    }
  }

}
