::-webkit-scrollbar {
  padding-left: 1px;
  background-color: #eee;
  overflow: visible;
  width: 7px;
  height: 7px;
  margin-top: 1px;
}
::-webkit-scrollbar-thumb {
  background-color: #34495e;
  background-clip: padding-box;
  border: 1px solid transparent;
  min-height: 15px;
}
::-webkit-scrollbar-thumb:vertical:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb:vertical:active {
  background-color: rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}
::-webkit-scrollbar-track {
  background-clip: padding-box;
  border: 1px solid #fff;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

body {
  font-family: 'Microsoft YaHei','\5FAE\8F6F\96C5\9ED1','Hiragino Sans GB', tahoma,arial,sans-serif;
}
