//.mint-radio-input:checked + .mint-radio-core{
//  background-color: #09bb07;
//  border-color: #09bb07;
//}
#suggest-form{
  padding:10px;
  .form-wrapper{
    width: 100%;
    margin-bottom: 10px;
  }
}