table {
  th, td {
    text-align: center;
  }
  // TODO 分离del-form a的&样式
  a, .del-form {
    display: inline-block;
    padding: 5px 10px;
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
    &.edit-btn {
      color: #3c763d;
    }
    &.del-btn {
      color: #a94442;
    }
  }
}