table {
  tr{
    cursor: pointer;
  }
  th, td {
    //text-align: center;
    &.limit-width {
      max-width: 200px !important;
    }
  }
  .del-form {
    display: inline-block;
  }
  .edit-btn, .del-btn {
    display: inline-block;
    border: none;
    background-color: transparent;
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
  .edit-btn {
    color: #3c763d;
  }
  .del-btn {
    color: #a94442;
  }
}